/* ----------------MIN-WIDTH: 428px---------------- */

@media screen and (min-width: 428px) {
  /* ----------------COMPONENTS---------------- */
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  /* ----------------MODAL-WINDOW---------------- */

  .modal-order-service {
    min-width: 392px;
  }
}

/* ----------------MIN-WIDTH: 768px---------------- */

@media screen and (min-width: 768px) {
  /* ----------------COMPONENTS---------------- */

  .container {
    width: 584px;
  }

  /* ----------------HEADER---------------- */

  .header-container {
    align-items: center;

    width: 768px;
  }

  .page-nav {
    align-items: center;
    column-gap: 120px;
  }

  .menu {
    display: flex;
    column-gap: 40px;
  }

  .menu-link {
    position: relative;

    display: block;

    padding-top: 24px;
    padding-bottom: 24px;
  }

  .menu-link::after {
    content: '';

    transform: scaleX(0);
    transform-origin: right;

    position: absolute;
    left: 0;
    bottom: -1px;

    display: block;

    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: var(--pressed-state-color);

    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }

  .menu-link:is(:hover, :focus)::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  .menu-link-current.menu-link::after {
    transform: scaleX(1);
  }

  .address-list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
  }

  /* ----------------HERO---------------- */

  .hero {
    max-width: 768px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-image-tablet.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: var(--linear-gradient),
        url(../images/hero-bg-image-tablet@2x.jpg);
    }
  }

  .hero-title {
    max-width: 496px;
    margin-bottom: 36px;

    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
  }

  /* ----------------ADVANTAGES---------------- */

  .advantages {
    width: 768px;
  }

  .advantages-list {
    column-gap: var(--column-gap-item-list);
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  /* ----------------CUSTOMERS---------------- */

  .customers-list {
    column-gap: var(--column-gap-item-list);
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  /* ----------------TEAM---------------- */

  .team-list {
    row-gap: 64px;
    column-gap: var(--column-gap-item-list);
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /* ----------------FOOTER---------------- */

  .footer-descr {
    max-width: 264px;
    margin-right: 24px;
  }

  .footer-subscribe-form {
    display: flex;
    column-gap: var(--column-gap-item-list);
  }

  .footer-subscribe-input {
    width: 264px;
  }

  /* ----------------MODAL-WINDOW---------------- */

  .modal-order-service {
    min-width: 408px;
    padding-right: 24px;
    padding-left: 24px;
  }

  /* ----------------PORTFOLIO---------------- */

  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-container {
    width: 768px;
  }

  /* ----------------FILTER---------------- */

  .filter {
    justify-content: center;

    margin-bottom: 64px;
  }

  .filter-btn {
    padding: 12px 24px;
  }

  /* ----------------PORTFOLIO---------------- */

  .portfolio-list {
    column-gap: var(--column-gap-item-list);
    row-gap: 72px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/* ----------------MIN-WIDTH: 1158px---------------- */

@media screen and (min-width: 1158px) {
  /* ----------------COMPONENTS---------------- */

  .container {
    width: 1160px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  /* ----------------HEADER---------------- */

  .page-nav {
    column-gap: 76px;
  }

  .address-list {
    flex-direction: row;
    column-gap: 40px;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ----------------HERO---------------- */

  .hero {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;

    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-image.jpg);
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: var(--linear-gradient),
        url(../images/hero-bg-image@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  /* ----------------ADVANTAGES---------------- */

  .advantages-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-item-text {
    font-weight: 400;
  }

  .advantages-item-image {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 112px;
    margin-bottom: 8px;

    background-color: var(--light-color);
  }

  /* ----------------ACTIVITY---------------- */

  .activity {
    display: block;
  }

  .activity.section {
    padding-top: 0;
  }

  .activity-list {
    display: flex;
    gap: var(--column-gap-item-list);
  }

  .activity-item {
    width: calc((100% - 48px) / 3);
  }

  /* ----------------TEAM---------------- */

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  /* ----------------CUSTOMERS---------------- */

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  /* ----------------FOOTER---------------- */
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-descr {
    margin-right: 120px;
  }

  .footer-social-container {
    margin-right: auto;
  }

  /* ----------------MODAL-WINDOW---------------- */

  .modal-order-service {
    top: 50%;
    transform: translate(-50%, -50%) scaleY(1);
  }

  .backdrop.is-hidden .modal-order-service {
    transform: translate(-50%, -50%) scaleY(0.1);
  }

  .modal-order-input {
    padding-left: 38px;
  }

  .modal-order-field-textarea {
    margin-bottom: 16px;
  }

  /* ----------------PORTFOLIO---------------- */

  .portfolio {
    padding-top: 100px;
  }

  /* ----------------FILTER---------------- */

  .filter {
    margin-bottom: 72px;
  }

  /* ----------------PORTFOLIO---------------- */

  .portfolio-list {
    row-gap: 40px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}

/* ----------------MAX-WIDTH: 767px---------------- */

@media screen and (max-width: 767px) {
  /* ----------------HEADER---------------- */

  .header {
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .menu {
    display: none;
  }

  .address {
    display: none;
  }

  .mobile-menu-open-btn {
    display: block;
    width: 32px;
    height: 22px;
    padding: 0;

    border: none;

    color: var(--dark-color);
    background-color: transparent;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(0);
    transform-origin: top center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 80px 30px 40px 40px;

    background-color: #ffffff;

    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }

  .mobile-menu.is-hidden {
    transform: translateX(-100%);
  }

  .mobile-menu-close-btn {
    background-color: rgba(231, 233, 252, 0.1);
  }

  .mobile-menu-list {
    display: block;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .mobile-menu-list .link.menu-link-current {
    color: var(--pressed-state-color);
  }

  .mobile-address {
    font-style: normal;
  }

  .mobile-address-list {
    margin-bottom: 48px;
  }

  .mobile-address-item:first-child {
    margin-bottom: 40px;
  }

  .mobile-address-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: var(--text-color);
  }

  .mobile-address-link:is(:hover, :focus) {
    color: var(--pressed-state-color);
  }

  .mobile-address-tel {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .mobile-social-list {
    display: flex;
    justify-content: space-between;

    max-width: 328px;
  }

  /* ----------------ADVANTAGES---------------- */

  .advantages-item-title {
    text-align: center;
  }

  /* ----------------FOOTER---------------- */

  .footer-container {
    justify-content: center;
  }

  .footer-logo {
    text-align: center;
  }

  .footer-social-container {
    text-align: center;
  }

  .footer-subscribe-container {
    width: 100%;

    text-align: center;
  }

  .footer-subscribe-form {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
  }

  .footer-subscribe-btn {
    margin: 0 auto;
  }

  /* ----------------PORTFOLIO---------------- */

  /* ----------------FILTER---------------- */

  .filter {
    max-width: 350px;
  }
}
