<section class="customers section">
  <div class="container">
    <h2 class="title">Customers</h2>

    <ul class="customers-list list">
      <li class="customers-item">
        <a
          href="#!"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Visit YA & CO customer profile"
          class="customers-link link"
        >
          <svg width="104" height="56" class="customers-logo">
            <use href="./images/icons.svg#icon-company-first"></use>
          </svg>
        </a>
      </li>

      <li class="customers-item">
        <a
          href="#!"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Visit COMPANY Tagline Here customer profile"
          class="customers-link link"
        >
          <svg width="104" height="56" class="customers-logo">
            <use href="./images/icons.svg#icon-company-second"></use>
          </svg>
        </a>
      </li>

      <li class="customers-item">
        <a
          href="#!"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Visit COMPANY with wave logo profile"
          class="customers-link link"
        >
          <svg width="104" height="56" class="customers-logo">
            <use href="./images/icons.svg#icon-company-third"></use>
          </svg>
        </a>
      </li>

      <li class="customers-item">
        <a
          href="#!"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Visit Foster Peters customer profile"
          class="customers-link link"
        >
          <svg width="104" height="56" class="customers-logo">
            <use href="./images/icons.svg#icon-company-fourth"></use>
          </svg>
        </a>
      </li>

      <li class="customers-item">
        <a
          href="#!"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Visit BRAND customer profile"
          class="customers-link link"
        >
          <svg width="104" height="56" class="customers-logo">
            <use href="./images/icons.svg#icon-company-fifth"></use>
          </svg>
        </a>
      </li>

      <li class="customers-item">
        <a
          href="#!"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Visit COMPANY Tag Line profile"
          class="customers-link link"
        >
          <svg width="104" height="56" class="customers-logo">
            <use href="./images/icons.svg#icon-company-sixth"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
