<header class="header">
  <div class="header-container container">
    <nav class="page-nav">
      <a href="./index.html" aria-label="Website logo" class="logo link"
        >Web<span class="part-logo-header">Studio</span></a
      >

      <ul class="menu list">
        <li class="menu-item">
          <a
            href="./index.html"
            class="menu-link link js-menu-link"
            data-page="index"
            >Studio</a
          >
        </li>
        <li class="menu-item">
          <a
            href="./portfolio.html"
            class="menu-link link js-menu-link"
            data-page="portfolio"
            >Portfolio</a
          >
        </li>
        <li class="menu-item">
          <a href="#!" class="menu-link link js-menu-link" data-page="сontacts"
            >Contacts</a
          >
        </li>
      </ul>
    </nav>

    <address class="address">
      <ul class="address-list list">
        <li class="address-item">
          <a href="mailto:info@devstudio.com" class="address-link link"
            >info@devstudio.com</a
          >
        </li>
        <li class="address-item">
          <a href="tel:+110001111111" class="address-link link"
            >+11 (000) 111-11-11</a
          >
        </li>
      </ul>
    </address>

    <button
      type="button"
      aria-label="Open mobile menu"
      class="mobile-menu-open-btn button"
      data-menu-open
    >
      <svg width="32" height="22" class="menu-burger-icon">
        <use href="./images/icons.svg#icon-menu-burger"></use>
      </svg>
    </button>
  </div>
</header>
