<div class="mobile-menu is-hidden" data-menu>
  <button
    type="button"
    aria-label="Close mobile menu"
    class="mobile-menu-close-btn close-btn button"
    data-menu-close
  >
    <svg width="8" height="8" class="icon-close">
      <use href="./images/icons.svg#icon-close"></use>
    </svg>
  </button>

  <nav class="mobile-menu-nav">
    <ul class="mobile-menu-list list">
      <li class="mobile-menu-item">
        <a
          href="./index.html"
          class="mobile-menu-link menu-link link js-menu-link"
          data-page="index"
          >Studio</a
        >
      </li>
      <li class="mobile-menu-item">
        <a
          href="./portfolio.html"
          class="mobile-menu-link menu-link link js-menu-link"
          data-page="portfolio"
          >Portfolio</a
        >
      </li>
      <li class="mobile-menu-item">
        <a
          href="#!"
          class="mobile-menu-link menu-link link js-menu-link"
          data-page="сontacts"
          >Contacts</a
        >
      </li>
    </ul>
  </nav>

  <address class="mobile-address">
    <ul class="mobile-address-list list">
      <li class="mobile-address-item">
        <a
          href="tel:+110001111111"
          class="mobile-address-link mobile-address-tel link"
          >+11 (000) 111-11-11</a
        >
      </li>
      <li class="mobile-address-item">
        <a href="mailto:info@devstudio.com" class="mobile-address-link link"
          >info@devstudio.com</a
        >
      </li>
    </ul>

    <ul class="mobile-social-list list">
      <li class="social-item">
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Visit WebStudio's Instagram page"
          class="social-link link"
          ><svg width="16" height="16" class="social-icon">
            <use href="./images/icons.svg#icon-instagram"></use></svg
        ></a>
      </li>
      <li class="social-item">
        <a
          href="https://twitter.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Visit WebStudio's Twitter page"
          class="social-link link"
          ><svg width="16" height="16" class="social-icon">
            <use href="./images/icons.svg#icon-twitter"></use></svg
        ></a>
      </li>
      <li class="social-item">
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Visit WebStudio's Facebook page"
          class="social-link link"
          ><svg width="16" height="16" class="social-icon">
            <use href="./images/icons.svg#icon-facebook"></use></svg
        ></a>
      </li>
      <li class="social-item">
        <a
          href="https://www.linkedin.com/"
          target="_blank"
          rel="noopener noreferrer nofollow"
          aria-label="Visit WebStudio's LinkedIn page"
          class="social-link link"
          ><svg width="16" height="16" class="social-icon">
            <use href="./images/icons.svg#icon-linkedin"></use></svg
        ></a>
      </li>
    </ul>
  </address>
</div>
