<ul class="filter list js-filter">
  <li>
    <button
      type="button"
      class="filter-btn button js-filter-btn"
      data-value="All"
    >
      All
    </button>
  </li>

  <li>
    <button
      type="button"
      class="filter-btn button js-filter-btn"
      data-value="Web Site"
    >
      Web Site
    </button>
  </li>

  <li>
    <button
      type="button"
      class="filter-btn button js-filter-btn"
      data-value="App"
    >
      App
    </button>
  </li>

  <li>
    <button
      type="button"
      class="filter-btn button js-filter-btn"
      data-value="Design"
    >
      Design
    </button>
  </li>

  <li>
    <button
      type="button"
      class="filter-btn button js-filter-btn"
      data-value="Marketing"
    >
      Marketing
    </button>
  </li>
</ul>
