<ul class="portfolio-list list js-portfolio-list">
  <li class="portfolio-list-item js-portfolio-list-item" data-id="App">
    <a
      href="#!"
      aria-label="View details of project"
      class="portfolio-item-link link"
    >
      <div class="portfolio-item-thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio/portfolio-1.webp    1x,
              ./images/portfolio/portfolio-1@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-1.jpg    1x,
              ./images/portfolio/portfolio-1@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-1-tablet.webp    1x,
              ./images/portfolio/portfolio-1-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-1-tablet.jpg    1x,
              ./images/portfolio/portfolio-1-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-1-mobile.webp    1x,
              ./images/portfolio/portfolio-1-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-1-mobile.jpg    1x,
              ./images/portfolio/portfolio-1-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)" />
          <img
            src="./images/portfolio/portfolio-1.jpg"
            alt="banking app"
            width="360"
            height="300"
            loading="lazy"
            class="portfolio-item-img"
        /></picture>

        <div class="portfolio-overlay">
          <p class="portfolio-text-overlay">
            A clean and intuitive mobile banking interface designed to simplify
            financial management, track expenses, and control card operations
            with ease.
            <span class="portfolio-text-overlay-item"
              >Modern mobile banking UI · Secure login · Balance overview · Card
              management · Clean dashboard</span
            >
          </p>
        </div>
      </div>

      <div class="portfolio-descr-item">
        <h2 class="portfolio-item-title">Banking App Interface Concept</h2>
        <p class="portfolio-item-text">App</p>
      </div>
    </a>
  </li>

  <li class="portfolio-list-item js-portfolio-list-item" data-id="Marketing">
    <a
      href="#!"
      aria-label="View details of project"
      class="portfolio-item-link link"
    >
      <div class="portfolio-item-thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio/portfolio-2.webp    1x,
              ./images/portfolio/portfolio-2@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-2.jpg    1x,
              ./images/portfolio/portfolio-2@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-2-tablet.webp    1x,
              ./images/portfolio/portfolio-2-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-2-tablet.jpg    1x,
              ./images/portfolio/portfolio-2-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-2-mobile.webp    1x,
              ./images/portfolio/portfolio-2-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-2-mobile.jpg    1x,
              ./images/portfolio/portfolio-2-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)" />
          <img
            src="./images/portfolio/portfolio-2.jpg"
            alt="cashless payment"
            width="360"
            height="300"
            loading="lazy"
            class="portfolio-item-img"
        /></picture>

        <div class="portfolio-overlay">
          <p class="portfolio-text-overlay">
            A sleek digital payment solution enabling fast, secure, and
            contactless transactions tailored for modern consumers and
            businesses.
            <span class="portfolio-text-overlay-item">
              Seamless digital transactions · Contactless experience · Quick
              scan pay · User trust · Brand growth</span
            >
          </p>
        </div>
      </div>

      <div class="portfolio-descr-item">
        <h2 class="portfolio-item-title">Cashless Payment</h2>
        <p class="portfolio-item-text">Marketing</p>
      </div>
    </a>
  </li>

  <li class="portfolio-list-item js-portfolio-list-item" data-id="App">
    <a
      href="#!"
      aria-label="View details of project"
      class="portfolio-item-link link"
    >
      <div class="portfolio-item-thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio/portfolio-3.webp    1x,
              ./images/portfolio/portfolio-3@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-3.jpg    1x,
              ./images/portfolio/portfolio-3@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-3-tablet.webp    1x,
              ./images/portfolio/portfolio-3-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-3-tablet.jpg    1x,
              ./images/portfolio/portfolio-3-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-3-mobile.webp    1x,
              ./images/portfolio/portfolio-3-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-3-mobile.jpg    1x,
              ./images/portfolio/portfolio-3-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)" />
          <img
            src="./images/portfolio/portfolio-3.jpg"
            alt="meditaion app"
            width="360"
            height="300"
            loading="lazy"
            class="portfolio-item-img"
        /></picture>

        <div class="portfolio-overlay">
          <p class="portfolio-text-overlay">
            A calm and focused app design offering guided meditations, mood
            tracking, and a serene UI to support daily mindfulness routines.
            <span class="portfolio-text-overlay-item">
              Guided sessions · Daily mindfulness · Relaxing sounds · Progress
              tracking · Calm UI design</span
            >
          </p>
        </div>
      </div>

      <div class="portfolio-descr-item">
        <h2 class="portfolio-item-title">Meditation App</h2>
        <p class="portfolio-item-text">App</p>
      </div>
    </a>
  </li>

  <li class="portfolio-list-item js-portfolio-list-item" data-id="Marketing">
    <a
      href="#!"
      aria-label="View details of project"
      class="portfolio-item-link link"
    >
      <div class="portfolio-item-thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio/portfolio-4.webp    1x,
              ./images/portfolio/portfolio-4@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-4.jpg    1x,
              ./images/portfolio/portfolio-4@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-4-tablet.webp    1x,
              ./images/portfolio/portfolio-4-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-4-tablet.jpg    1x,
              ./images/portfolio/portfolio-4-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-4-mobile.webp    1x,
              ./images/portfolio/portfolio-4-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-4-mobile.jpg    1x,
              ./images/portfolio/portfolio-4-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)" />
          <img
            src="./images/portfolio/portfolio-4.jpg"
            alt="taxi"
            width="360"
            height="300"
            loading="lazy"
            class="portfolio-item-img"
        /></picture>

        <div class="portfolio-overlay">
          <p class="portfolio-text-overlay">
            A user-friendly interface for booking rides, tracking drivers in
            real time, and ensuring a smooth, reliable transportation
            experience.
            <span class="portfolio-text-overlay-item">
              Ride booking app · Live GPS tracking · Driver ratings · Fast
              interface · Secure payments</span
            >
          </p>
        </div>
      </div>

      <div class="portfolio-descr-item">
        <h2 class="portfolio-item-title">Taxi Service</h2>
        <p class="portfolio-item-text">Marketing</p>
      </div>
    </a>
  </li>

  <li class="portfolio-list-item js-portfolio-list-item" data-id="Design">
    <a
      href="#!"
      aria-label="View details of project"
      class="portfolio-item-link link"
    >
      <div class="portfolio-item-thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio/portfolio-5.webp    1x,
              ./images/portfolio/portfolio-5@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-5.jpg    1x,
              ./images/portfolio/portfolio-5@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-5-tablet.webp    1x,
              ./images/portfolio/portfolio-5-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-5-tablet.jpg    1x,
              ./images/portfolio/portfolio-5-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-5-mobile.webp    1x,
              ./images/portfolio/portfolio-5-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-5-mobile.jpg    1x,
              ./images/portfolio/portfolio-5-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)" />
          <img
            src="./images/portfolio/portfolio-5.jpg"
            alt="screen illustrations"
            width="360"
            height="300"
            loading="lazy"
            class="portfolio-item-img"
        /></picture>

        <div class="portfolio-overlay">
          <p class="portfolio-text-overlay">
            A collection of custom digital illustrations crafted to enhance app
            interfaces and bring visual storytelling into every screen.
            <span class="portfolio-text-overlay-item">
              Vibrant UI elements · Story-driven visuals · Icon sets · Custom
              scenes · Flat design style</span
            >
          </p>
        </div>
      </div>

      <div class="portfolio-descr-item">
        <h2 class="portfolio-item-title">Screen Illustrations</h2>
        <p class="portfolio-item-text">Design</p>
      </div>
    </a>
  </li>

  <li class="portfolio-list-item js-portfolio-list-item" data-id="Marketing">
    <a
      href="#!"
      aria-label="View details of project"
      class="portfolio-item-link link"
    >
      <div class="portfolio-item-thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio/portfolio-6.webp    1x,
              ./images/portfolio/portfolio-6@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-6.jpg    1x,
              ./images/portfolio/portfolio-6@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-6-tablet.webp    1x,
              ./images/portfolio/portfolio-6-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-6-tablet.jpg    1x,
              ./images/portfolio/portfolio-6-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-6-mobile.webp    1x,
              ./images/portfolio/portfolio-6-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-6-mobile.jpg    1x,
              ./images/portfolio/portfolio-6-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)" />
          <img
            src="./images/portfolio/portfolio-6.jpg"
            alt="online course process"
            width="360"
            height="300"
            loading="lazy"
            class="portfolio-item-img"
        /></picture>

        <div class="portfolio-overlay">
          <p class="portfolio-text-overlay">
            An e-learning platform concept with structured course layouts,
            progress tracking, and certification previews for an engaging user
            journey.
            <span class="portfolio-text-overlay-item">
              E-learning interface · Course catalog · Progress bar · Certificate
              preview · Clean layout</span
            >
          </p>
        </div>
      </div>

      <div class="portfolio-descr-item">
        <h2 class="portfolio-item-title">Online Courses</h2>
        <p class="portfolio-item-text">Marketing</p>
      </div>
    </a>
  </li>

  <li class="portfolio-list-item js-portfolio-list-item" data-id="Design">
    <a
      href="#!"
      aria-label="View details of project"
      class="portfolio-item-link link"
    >
      <div class="portfolio-item-thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio/portfolio-7.webp    1x,
              ./images/portfolio/portfolio-7@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-7.jpg    1x,
              ./images/portfolio/portfolio-7@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-7-tablet.webp    1x,
              ./images/portfolio/portfolio-7-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-7-tablet.jpg    1x,
              ./images/portfolio/portfolio-7-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-7-mobile.webp    1x,
              ./images/portfolio/portfolio-7-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-7-mobile.jpg    1x,
              ./images/portfolio/portfolio-7-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)" />
          <img
            src="./images/portfolio/portfolio-7.jpg"
            alt="instagram stories"
            width="360"
            height="300"
            loading="lazy"
            class="portfolio-item-img"
        /></picture>

        <div class="portfolio-overlay">
          <p class="portfolio-text-overlay">
            A dynamic and stylish stories UI with smooth transitions and
            interactive elements designed for modern social media engagement.
            <span class="portfolio-text-overlay-item">
              Trendy UI design · Interactive stories · Social engagement ·
              Smooth transitions · Bold typography</span
            >
          </p>
        </div>
      </div>

      <div class="portfolio-descr-item">
        <h2 class="portfolio-item-title">Instagram Stories Concept</h2>
        <p class="portfolio-item-text">Design</p>
      </div>
    </a>
  </li>

  <li class="portfolio-list-item js-portfolio-list-item" data-id="Web Site">
    <a
      href="#!"
      aria-label="View details of project"
      class="portfolio-item-link link"
    >
      <div class="portfolio-item-thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio/portfolio-8.webp    1x,
              ./images/portfolio/portfolio-8@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-8.jpg    1x,
              ./images/portfolio/portfolio-8@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-8-tablet.webp    1x,
              ./images/portfolio/portfolio-8-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-8-tablet.jpg    1x,
              ./images/portfolio/portfolio-8-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-8-mobile.webp    1x,
              ./images/portfolio/portfolio-8-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-8-mobile.jpg    1x,
              ./images/portfolio/portfolio-8-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)" />
          <img
            src="./images/portfolio/portfolio-8.jpg"
            alt="organic food"
            width="360"
            height="300"
            loading="lazy"
            class="portfolio-item-img"
        /></picture>

        <div class="portfolio-overlay">
          <p class="portfolio-text-overlay">
            A fresh and clean website layout for an organic food store,
            highlighting healthy products and promoting sustainable living.
            <span class="portfolio-text-overlay-item">
              Eco-friendly layout · Product showcase · Fresh design · Healthy
              living · Minimalist style</span
            >
          </p>
        </div>
      </div>

      <div class="portfolio-descr-item">
        <h2 class="portfolio-item-title">Organic Food</h2>
        <p class="portfolio-item-text">Web Site</p>
      </div>
    </a>
  </li>

  <li class="portfolio-list-item js-portfolio-list-item" data-id="Web Site">
    <a
      href="#!"
      aria-label="View details of project"
      class="portfolio-item-link link"
    >
      <div class="portfolio-item-thumb">
        <picture>
          <source
            srcset="
              ./images/portfolio/portfolio-9.webp    1x,
              ./images/portfolio/portfolio-9@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-9.jpg    1x,
              ./images/portfolio/portfolio-9@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1158px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-9-tablet.webp    1x,
              ./images/portfolio/portfolio-9-tablet@2x.webp 2x
            "
            type="image/webp"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-9-tablet.jpg    1x,
              ./images/portfolio/portfolio-9-tablet@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 768px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-9-mobile.webp    1x,
              ./images/portfolio/portfolio-9-mobile@2x.webp 2x
            "
            type="image/webp"
            media="(max-width: 767px)" />
          <source
            srcset="
              ./images/portfolio/portfolio-9-mobile.jpg    1x,
              ./images/portfolio/portfolio-9-mobile@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 767px)" />
          <img
            src="./images/portfolio/portfolio-9.jpg"
            alt="coffee"
            width="360"
            height="300"
            loading="lazy"
            class="portfolio-item-img"
        /></picture>

        <div class="portfolio-overlay">
          <p class="portfolio-text-overlay">
            A cozy and inviting coffee shop website featuring product
            highlights, a warm visual tone, and seamless user navigation.
            <span class="portfolio-text-overlay-item">
              Coffee shop branding · Smooth UI · Product highlights · Warm
              colors · User-focused experience</span
            >
          </p>
        </div>
      </div>

      <div class="portfolio-descr-item">
        <h2 class="portfolio-item-title">Fresh Coffee</h2>
        <p class="portfolio-item-text">Web Site</p>
      </div>
    </a>
  </li>
</ul>
