<section class="team section">
  <div class="container">
    <h2 class="title">Our Team</h2>

    <ul class="team-list list">
      <li class="team-item">
        <picture>
          <source
            srcset="
              ./images/team-members/team-member-1.webp    1x,
              ./images/team-members/team-member-1@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-members/team-member-1.jpg    1x,
              ./images/team-members/team-member-1@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/team-members/team-member-1.jpg"
            alt="team member"
            width="264"
            height="260"
            loading="lazy"
          />
        </picture>

        <div class="team-descr-item">
          <h3 class="team-item-title">Mark Guerrero</h3>
          <p class="team-item-text">Product Designer</p>

          <ul class="team-social-list list">
            <li class="social-item">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Mark's Instagram profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Mark's Twitter profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Mark's Facebook profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Mark's LinkedIn profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-item">
        <picture>
          <source
            srcset="
              ./images/team-members/team-member-2.webp    1x,
              ./images/team-members/team-member-2@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-members/team-member-2.jpg    1x,
              ./images/team-members/team-member-2@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/team-members/team-member-2.jpg"
            alt="team member"
            width="264"
            height="260"
            loading="lazy"
          />
        </picture>

        <div class="team-descr-item">
          <h3 class="team-item-title">Tom Ford</h3>
          <p class="team-item-text">Frontend Developer</p>

          <ul class="team-social-list list">
            <li class="social-item">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Tom's Instagram profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Tom's Twitter profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Tom's Facebook profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Tom's LinkedIn profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-item">
        <picture>
          <source
            srcset="
              ./images/team-members/team-member-3.webp    1x,
              ./images/team-members/team-member-3@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-members/team-member-3.jpg    1x,
              ./images/team-members/team-member-3@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/team-members/team-member-3.jpg"
            alt="team member"
            width="264"
            height="260"
            loading="lazy"
          />
        </picture>

        <div class="team-descr-item">
          <h3 class="team-item-title">Camila Garcia</h3>
          <p class="team-item-text">Marketing</p>

          <ul class="team-social-list list">
            <li class="social-item">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Camila's Instagram profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Camila's Twitter profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Camila's Facebook profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Camila's LinkedIn profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>

      <li class="team-item">
        <picture>
          <source
            srcset="
              ./images/team-members/team-member-4.webp    1x,
              ./images/team-members/team-member-4@2x.webp 2x
            "
            type="image/webp"
          />
          <source
            srcset="
              ./images/team-members/team-member-4.jpg    1x,
              ./images/team-members/team-member-4@2x.jpg 2x
            "
            type="image/jpeg"
          />
          <img
            src="./images/team-members/team-member-4.jpg"
            alt="team member"
            width="264"
            height="260"
            loading="lazy"
          />
        </picture>

        <div class="team-descr-item">
          <h3 class="team-item-title">Daniel Wilson</h3>
          <p class="team-item-text">UI Designer</p>

          <ul class="team-social-list list">
            <li class="social-item">
              <a
                href="https://www.instagram.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Daniel's Instagram profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-instagram"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://twitter.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Daniel's Twitter profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-twitter"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://www.facebook.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Daniel's Facebook profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-facebook"></use></svg
              ></a>
            </li>
            <li class="social-item">
              <a
                href="https://www.linkedin.com/"
                target="_blank"
                rel="noopener noreferrer nofollow"
                aria-label="Visit Daniel's LinkedIn profile"
                class="social-link link"
                ><svg width="16" height="16" class="social-icon">
                  <use href="./images/icons.svg#icon-linkedin"></use></svg
              ></a>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</section>
