.advantages-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--row-gap-item-list);
}

.advantages-item-title {
  margin-bottom: 8px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.advantages-item-text {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.advantages-item-image {
  display: none;
}

/* ----------------MAX-WIDTH: 767px---------------- */
@media screen and (max-width: 767px) {
  .advantages-item-title {
    text-align: center;
  }
}

/* ----------------MIN-WIDTH: 768px---------------- */
@media screen and (min-width: 768px) {
  .advantages {
    width: 768px;
  }

  .advantages-list {
    column-gap: var(--column-gap-item-list);
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }
}

/* ----------------MIN-WIDTH: 1160px---------------- */
@media screen and (min-width: 1160px) {
  .advantages-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-item-text {
    font-weight: 400;
  }

  .advantages-item-image {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 112px;
    margin-bottom: 8px;

    background-color: var(--light-color);
  }
}
