:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --white-color: #ffffff;
  --modal-overlay-color: #2e2f42;
  --hero-background-color: #2e2f42;
  --backdrop-color: rgba(46, 47, 66, 0.4);
  --modal-background-color: #fcfcfc;

  --column-gap-item-list: 24px;
  --row-gap-item-list: 72px;

  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;

  --linear-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
}

/* ----------------COMPONENTS---------------- */

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;

  color: var(--text-color);
}

body.modal-open,
body.menu-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;

  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-brand-color);
}

.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  cursor: pointer;
}

.primary-btn {
  border: none;
  border-radius: 4px;

  color: var(--white-color);
  background-color: var(--primary-brand-color);

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.primary-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  margin-bottom: 72px;

  text-align: center;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;

  color: var(--dark-color);
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  border: 0;
  padding: 0;
  margin: -1px;

  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border-radius: 50%;

  color: var(--light-color);
  background-color: var(--primary-brand-color);

  transition: background-color var(--transition-duration)
    var(--transition-timing-function);
}

.social-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-icon {
  fill: currentColor;
}

.footer-container-text {
  margin-bottom: 16px;

  font-weight: 500;
  letter-spacing: 0.02em;

  color: var(--white-color);
}

.close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: var(--accent-color);
  color: var(--dark-color);

  transition: color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.close-btn:is(:hover, :focus) {
  color: var(--white-color);
  background-color: var(--pressed-state-color);
}

.icon-close {
  fill: currentColor;
}

/* ----------------HEADER---------------- */

.header {
  border-bottom: 1px solid var(--accent-color);

  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.page-nav {
  display: flex;
}

.part-logo-header {
  color: var(--dark-color);
}

.mobile-menu-open-btn {
  display: none;
}

.menu-link {
  font-weight: 500;
  letter-spacing: 0.02em;

  color: var(--dark-color);

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.menu-link:is(:hover, :focus) {
  color: var(--pressed-state-color);
}

.menu .link.menu-link-current {
  color: var(--pressed-state-color);
}

.address {
  font-style: normal;
}

.address-list {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.address-link {
  color: inherit;

  transition: color var(--transition-duration) var(--transition-timing-function);
}

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state-color);
}

/* ----------------HERO---------------- */

.hero {
  max-width: 428px;
  padding-top: 112px;
  padding-bottom: 112px;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-image: var(--linear-gradient),
    url(../images/hero/hero-bg-image-mobile.jpg);
  background-color: var(--dark-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@supports (background-image: url('../images/hero/hero-bg-image-mobile.webp')) {
  .hero {
    background-image: var(--linear-gradient),
      url(../images/hero/hero-bg-image-mobile.webp);
  }
}

.hero-title {
  max-width: 320px;
  margin: 0 auto 72px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  color: var(--white-color);
}

.hero-btn {
  min-width: 169px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.mobile-menu {
  display: none;
}

/* ----------------ADVANTAGES---------------- */

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--row-gap-item-list);
}

.advantages-item-title {
  margin-bottom: 8px;

  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.advantages-item-text {
  font-weight: 500;
  letter-spacing: 0.02em;
}

.advantages-item-image {
  display: none;
}

/* ----------------ACTIVITY---------------- */

.activity {
  display: none;
}

/* ----------------TEAM---------------- */

.team {
  background-color: var(--light-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: var(--row-gap-item-list);
}

.team-item {
  border-radius: 0px 0px 4px 4px;

  background-color: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-descr-item {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-item-title {
  margin-bottom: 8px;

  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark-color);
}

.team-item-text {
  margin-bottom: 8px;

  text-align: center;
  letter-spacing: 0.02em;
}

.team-social-list {
  display: flex;
  justify-content: center;
  gap: var(--column-gap-item-list);
}

.social-item {
  width: 40px;
  height: 40px;
}

/* ----------------CUSTOMERS---------------- */

.customers-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 16px;
  row-gap: var(--row-gap-item-list);
}

.customers-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;

  color: var(--subtle-text-color);

  transition: border var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function);
}

.customers-link:is(:hover, :focus) {
  border: 1px solid var(--pressed-state-color);

  color: var(--pressed-state-color);
}

.customers-logo {
  fill: currentColor;
}

/* ----------------FOOTER---------------- */

.footer {
  background: var(--hero-background-color);
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
}

.footer-descr {
  max-width: 268px;
}

.footer-logo {
  display: block;

  margin-bottom: 16px;
}

.part-logo-footer {
  color: var(--light-color);
}

.footer-descr-text {
  color: var(--light-color);
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-link:is(:hover, :focus) {
  background-color: var(--success-color);
}

.footer-subscribe-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 16px;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  color: var(--white-color);
  background-color: transparent;

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.footer-subscribe-input::placeholder {
  color: rgb(255, 255, 255, 0.6);
}

.footer-subscribe-input:focus {
  border: 1px solid var(--success-color);

  outline: transparent;
}

.footer-subscribe-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  padding: 8px 24px;
}

.footer-subscribe-btn-icon {
  fill: currentColor;
}

/* ----------------MODAL-WINDOW---------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  overflow-y: scroll;

  background-color: var(--backdrop-color);
  opacity: 1;

  transition: opacity var(--transition-duration)
      var(--transition-timing-function),
    visibility var(--transition-duration) var(--transition-timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-order-service {
  position: absolute;
  top: 96px;
  left: 50%;
  transform: translateX(-50%) scaleY(1);

  min-width: calc(100% - 36px);
  border-radius: 4px;
  padding: 72px 16px 24px 16px;

  background-color: var(--modal-background-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.backdrop.is-hidden .modal-order-service {
  transform: translateX(-50%) scaleY(0.1);
}

.modal-title {
  margin-bottom: 16px;

  text-align: center;
  font-weight: 500;
  letter-spacing: 0.02em;

  color: var(--dark-color);
}

.modal-order-form {
  display: flex;
  flex-direction: column;
}

.modal-order-field {
  margin-bottom: 8px;
}

.modal-order-label {
  display: block;

  margin-bottom: 4px;

  cursor: pointer;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--subtle-text-color);
}

.modal-order-wrapper-input {
  position: relative;
}

.modal-order-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding-left: 34px;
  padding-right: 8px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--dark-color);

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.modal-order-input:focus {
  border: 1px solid var(--primary-brand-color);

  outline: transparent;
}

.modal-order-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  cursor: text;

  fill: var(--dark-color);

  transition: fill var(--transition-duration) var(--transition-timing-function);
}

.modal-order-input:focus + label .modal-order-input-icon {
  fill: var(--primary-brand-color);
}

.modal-order-field-textarea {
  margin-bottom: 18px;
}

.modal-order-textarea {
  display: block;

  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;

  resize: none;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--dark-color);

  transition: border var(--transition-duration)
    var(--transition-timing-function);
}

.modal-order-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-order-textarea:focus {
  border: 1px solid var(--primary-brand-color);

  outline: transparent;
}

.modal-order-policy-field {
  display: flex;
  align-items: center;

  margin-bottom: 24px;
}

.modal-order-policy-label {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.modal-order-policy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--subtle-text-color);
}

.modal-order-policy-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;

  color: transparent;

  transition: border var(--transition-duration)
      var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.check-icon {
  fill: currentColor;
}

.default-checkbox:focus
  + .modal-order-policy-label
  .modal-order-policy-checkbox {
  border: 1px solid var(--pressed-state-color);
}

.default-checkbox:checked
  + .modal-order-policy-label
  .modal-order-policy-checkbox {
  border: 1px solid var(--pressed-state-color);

  color: var(--light-color);
  background-color: var(--pressed-state-color);
}

.modal-order-policy-link {
  color: var(--primary-brand-color);
}

.modal-order-btn {
  align-self: center;

  min-width: 169px;
  padding-top: 16px;
  padding-bottom: 16px;
}

/* --------------------------------PORTFOLIO-------------------------------- */

.portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* ----------------MAIN---------------- */

/* ----------------FILTER---------------- */

.filter {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-gap-item-list);
  row-gap: 16px;

  margin-bottom: 48px;
}

.filter-btn {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  padding: 8px 16px;

  align-items: center;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.04em;

  color: var(--primary-brand-color);
  background-color: var(--light-color);

  transition: border var(--transition-duration)
      var(--transition-timing-function),
    box-shadow var(--transition-duration) var(--transition-timing-function),
    color var(--transition-duration) var(--transition-timing-function),
    background-color var(--transition-duration)
      var(--transition-timing-function);
}

.filter-btn:is(:hover, :focus),
.active-filter-btn {
  border: 1px solid var(--pressed-state-color);

  color: var(--white-color);
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ----------------PORTFOLIO---------------- */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
}

.portfolio-list-item {
  width: 100%;
}

.portfolio-item-link {
  display: block;

  color: inherit;

  transition: box-shadow var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio-item-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-img {
  width: 100%;
  height: auto;
}

.portfolio-descr-item {
  border: 1px solid var(--accent-color);
  border-top: none;
  padding: 32px 16px;
}

.portfolio-item-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--dark-color);
}

.portfolio-item-text {
  letter-spacing: 0.02em;
}

.portfolio-item-thumb {
  position: relative;

  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);

  width: 100%;
  height: 100%;
  padding: 40px 32px;

  overflow: auto;

  background-color: var(--primary-brand-color);

  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

.portfolio-text-overlay {
  color: var(--light-color);
}

.portfolio-item-link:is(:hover, :focus) .portfolio-overlay {
  transform: translateY(0);
}
